:root {
    --sidebar-color: #44cf6c;
    --accent-color: #a9fdac;
    --font-color: #2d2c2b;
    --project-edge-color: ;
    --project-bg-color: #f1ffe7;
    --shadow-box: 20px 20px 20px #2d3c2b; 
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color)
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 3;

}
h2 {
    
    margin-bottom: 10px;
}
h3, h4 {
    margin-top: 10px;
}
.main-profile-pic {
    background-color: var(--accent-color);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 100% 100%;
    grid-column: 1;
    grid-row: 1 / 2;
}

.profile-pic {
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 100% 100%;
    
}
.profile-pic img {
    height:100%; 
    width:100%;
    object-fit: cover;
    border-radius: 50%;
    grid-column: 1;
}
.header {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 20px;
    gap: 20px
}

#search-bar {
    display: grid;
    grid-template-columns: 8% 92%;
    align-items: center;
}

.header input {
    width: 85%;
    background-color: #888;
    border-radius: 20px;
    border: none;
    height: 1.6em;
    padding: 3px;
}
#welcome-msg {
    display: grid;
    grid-template-columns: 60px 1fr ;
    gap: 10px
}

#welcome-msg h1 {
    grid-column: 2 /3;
    grid-row: 2 / 3;
    
}
#welcome-msg span{
    grid-column: 2 /3;
    grid-row: 1 / 3;
}
#user-details {
    display: grid;
    gap: 20px;
    grid-template-columns: 60px 60px auto;
    font-weight: 700;
    align-items: center;
    justify-items: end;
    justify-content: center;

}
#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: end;
    align-content: center;
}
.header > #buttons > button {
    background-color: var(--sidebar-color);
    padding: 6px;
    width: 80px;
    height: 33px;
    border-radius: 25px;
    font-weight: 500;
    color: white;
    border: none;
}

.sidebar {
    background-color: var(--sidebar-color);
    color: white;
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 20px;
}
.nav-item a{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    
}
.nav-item a {
    text-decoration: none;
}
.nav-item .nav-item-text {
    display: grid;
    grid-column: 2/3;
}

.nav-item img {
    grid-column: 1;
}

.icon {
    fill: white;
    height: 25px;
}
.nav-item:hover {
    
    .nav-item-text {
        color: white;
    }
    img {
        filter: invert(100%);
    }
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: 2.3em;
    font-weight: 700;
    align-items: center;
}
svg {
    height: 50px;
    width: 50px;
}


.nav ul {
    list-style: none;
    margin-top: 40px;
    font-size: 1.3em;
}

.nav li{
    padding: 5px;
    font-weight: 500;
}

.main {

    background-color: var(--project-bg-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    gap: 20px;
}
.projects {

    grid-row:1 /3;
    

}
#project-item-container {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-item {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    border-left: 6px solid var(--accent-color);
    box-shadow: 1px 1px 5px #2d3c2b;
    display: grid;
    grid-template-columns: 3fr 2fr ;
    grid-template-rows: auto auto auto;
}
.project-item p {
    grid-column: 1/3;
    grid-row: 2
}

.project-item h3 {
    grid-column: 1/3;
    grid-row: 1
}
#card-bts {
    grid-row: 3;
    grid-column: 2 / 3;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

}
.announcement-content {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #2d3c2b;

}

.announcement-content > p {
    border-bottom: 2px solid #888;
    padding-bottom: 20px;
}
.announcement-content > p:last-child {
    border: none;
    padding-bottom: 20px;
}

.trending-content {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #2d3c2b;
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
}
.trending-content ul {
    display: grid;
    gap: 10px
}
.trending-content > ul > li {
    list-style: none;
    grid-column: 2 / 3;
}
.trending-content .profile-pic {
    grid-column: 1;
}
